@orange: #FFAE69;

.playlistRow {
   cursor: pointer;
   cursor: hand;
}

.uploader {
   text-align: right;
}

.queue-block {
   text-indent: 20px;
}

body {
   background : @orange;
   background-color: @orange;
}

.playlist-art {
  width: 45px;
  margin-right: 5px;
}

.title {
   height: 100%;
}

.uploader {
   height: 100%;
   line-height: 40px;
}

#playlists {
   .title {
      font-size: 30px;
   }

   .description {
      line-height: 20px;
      margin-bottom: 0;
   }
}

.folder-arrow {
  float: left;
  padding-top: 11px;
}

/*  For list */
ul {
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li 
{
    padding:0;
}

/*  For responsive images as background */

.bg {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}
