.sctunesDef {
   display: inline;
}

.sctunes {
   color: whitesmoke;
   font-size: 150px;
}

.desc {
   color: whitesmoke;
   font-size: large;
   margin-left: -7%;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   .uploader {
      padding-right: 75px;
   }
}
.trackRow {
   cursor: pointer;
   cursor: hand;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
}

.playlistRow {
   cursor: pointer;
   cursor: hand;
}

.uploader {
   text-align: right;
}

#loadingTracks {
   padding-left: 40%;
}

#currentTrackPlayer {
   height: 50px;
   width: 100%;
}

#ui {
   visibility: hidden;
}

.playing {
   background : darkorange;
}

#sort {
   padding-left: 20px;
}

body {
   background : darkorange;
}

.options {
   display: inline;
}

.selected {
   background: darkturquoise;
}

.selectedForQueue {
   background: gold;
}

.waveform {
   width: 100%;
}

body {
   background-color: #FFAE69;
}

#logout {
   text-indent: 4px;
}

#brand-title {
   color: darkorange;
}

.player {  
   color: white;
   left: 250px;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.6);
}

.player-title {
   font-size: 20px;
}
