.artist-info {
  text-align: left;
  background: #272727;
  color: white;

  .artist-pic {
    margin: 25px;
    width: 80%;
  }

  .artist-title {
    display: inline-block;
  }

  .desc {
    white-space: pre-line;
  }
}

.artist-buttons {
  text-align: center;

  .btn-group {
    width: 100%;
  }

  .btn-artist {
    border-radius: 0;
    width: 33.3333333333333333%;
    height: 75px;
  }

  .btn-my {
    border-radius: 0;
    width: 50%;
    height: 75px;
  }
}