<template name="findNewArtistsList">
  <!-- <div class="loading row">
  	<div id="{{#if artistPage}}artistLoader{{/if}}" class="col-xs-12 loaderContainer">
		<div  class="bigSpin">
		    <div class="rect1"></div>
		    <div class="rect2"></div>
		    <div class="rect3"></div>
		    <div class="rect4"></div>
		    <div class="rect5"></div>
		</div>
		<p>{{loadingText}}</p>
    </div>
  </div> -->
  {{#if loaded}}
	  <div class="row">
	  	<h1>Got some shit</h1>
	  </div>
	{{else}}
    {{> loader}}
  {{/if}}
</template>