template(name='player')
  .current-art.player.footer.navbar-fixed-bottom
    .player-node.col-xs-1
      img(rc='#{currentTrack.artwork_url}')
      
    .player-node.col-xs-11
      .col-xs-12
        +controls
    +currentTrackPlayer

template(name='currentTrackPlayer')
  #currentTrackPlayer
    div
      input(type='range' min='0' max='#{ currentTrack.duration }' id='time-slider')

template(name='blank')

template(name='controls')
  .col-xs-12.player.player-bg
    span.controls
      span#prevButton.playerControlButton
        span.glyphicon.glyphicon-step-backward
      span#playpause.playerControlButton
        span#playPauseIcon.glyphicon.glyphicon-pause
      span#nextButton.playerControlButton
        span.glyphicon.glyphicon-step-forward
    span.player-title #{currentTrack.title} - #{currentTrack.user.username}

