<template name="player">
    <div class="current-art player footer navbar-fixed-bottom">
      <div class="player-node col-xs-1"><img src="{{ctArt}}"></div>
      <div class="player-node col-xs-11">
        <div class="col-xs-12">
          <span class="controls">
            <span id="prevButton" class="playerControlButton">
              <span class="glyphicon glyphicon-step-backward"></span>
            </span>
            <span id="playpause" class="playerControlButton">
              <span id="playPauseIcon" class="glyphicon glyphicon-play"></span>
            </span>
            <span id="nextButton" class="playerControlButton">
              <span class="glyphicon glyphicon-step-forward"></span>
            </span>
          </span>
          <span class="player-title">{{ctTitle}} - {{ctUploader}}</span>
        </div>
      <div id="currentTrackPlayer" class="col-xs-12"></div>
      </div>
    </div>
</template>