<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>sctunes</title>
</head>

<template name="ApplicationLayout">
  <body>
    {{> yield}}
  </body>
</template>

<!-- <template name="app">
  <div id="wrapper" class="active">
    {{> sidebar}}
    <div id="page-content-wrapper">
      <div class="container-fluid {{#if squares}}background{{/if}}">
        {{> optionsRow}}
        {{#if artistPage}}
          {{> artistInfo}}
        {{else}}
          {{> myInfo}}
        {{/if}}
        {{#if loaded}}
          {{> trackList}}
        {{else}}
          {{> loader}}
        {{/if}}
        {{#if currentTrack}}
          {{> player}}
        {{/if}}        
      </div> 
      {{> newPlayListModal}}
    </div>
  </div>
</template> -->

<template name="trackLayout">
  <body>
    <div id="wrapper" class="active">
      {{> sidebar}}
      <div id="page-content-wrapper">
        <div class="container-fluid {{#if squares}}background{{/if}}">
          {{> optionsRow}}
          
          {{> yield region="userTrackChooser"}}
          
          {{> yield}}

          {{#if currentTrack}}
            {{> player}}
          {{/if}}        
        </div> 
        {{> newPlayListModal}}
      </div>
    </div>
  </body>
</template>