.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-nav {
  li {
    text-align: center;
    margin: 0;
  }
}

#dropdown-toggle {
  margin-left: 35px;
}

.sort-times {
  color: gray;
}

.sort-tag {
  width: 300px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
