@orange: #FFAE69;

.left .navbar-nav li {
  flex: 1;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;

  .dropdownLabel {
    padding-right: 10px;
  }

  .navbar-nav {
    display: flex;
    margin-top: 0;
    justify-content: space-between;

    li {
      text-align: center;
      margin: 0;
    }
  }

  .left > ul > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navDescriptiom {
    display: inline;
  }

  .navbar-center {
    margin-bottom: 0;

    li {
      width: 100%;

      .navbar-form {
        width: 80%;
        display: inline-block;
        box-shadow: none;
        border: none;
      }
    }
  }

  a {
      color: #9d9d9d;
  }

  .rightButtons {
    display: inline-flex;
  }
}

@media screen and (min-width: 525px) {
  .navbar .rightButtons {
    position: absolute;
    right: 0;
  }

  .navbar-nav {
    // margin-top: 9px;
    margin-bottom: 0;
  }

  .navbar-center {
    height: 9px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;

    .navbar-left #searchInput {
      width: 80%;
      margin-left: 84px;
    }

    .navbar-form {
      margin-top: 2px;
    }
  }
  
  .navbar-right {
    height: 50px;

    .leftButtons {
      position: absolute;
      left: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar .navDescriptiom {
    display: none;
  }

  .navbar .left > ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-nav {
    margin-top: 0;

    .leftButtons, .rightButtons {
      position: initial;
    }
  }

  .navbar .navbar-center li .navbar-form {
    width: 100%;
    margin-top: 8px;
  }

  .navbar-center .navbar-left #searchInput {
    width: 100%;
    margin-left: 0;
  }

  .navbar-center {
    flex-grow: 2;

    .form-group {
      width: 100%;
    }
  }

  .navbar-inverse .navbar-collapse {
    display: flex !important;
  }
}

#dropdown-toggle {
  margin-left: 35px;
}

.sort-times {
  color: gray;
}

.sort-tag {
  width: 300px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

#log-out {
  width: 57%;
  border-radius: 0;
}

.length {
  width: 50px;
}

.active {
  background: @orange !important;
  border-color: @orange !important;
  color: white !important;
} 

