nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") ScTunes

    .collapse.navbar-collapse
      .left
        ul.nav.navbar-nav
          li
            a#favorites(href="#" onclick="return false;" class="{{isActive 'myFavorites'}}")
              span.glyphicon.glyphicon-star(aria-hidden="true")
              span.navDescriptiom Favorites
          li
            a#playlists(href="#" onclick="return false;" class="{{isActive 'myPlaylists'}}")
              span.glyphicon.glyphicon-tasks(aria-hidden="true")
              span.navDescriptiom Playlists
          li
            a#following(href="#" onclick="return false;" class="{{isActive 'following'}}")
              span.glyphicon.glyphicon-user(aria-hidden="true")
              span.navDescriptiom Following

      ul.nav.navbar-nav.navbar-center
        if duration
          li
            a
              span Min:
              input#min-length.btn.btn-default.length(name="minlength" type="text")
              span Max:
              input#max-length.btn.btn-default.length(name="maxlength" type="text")
        else
          li
            form.navbar-form.navbar-left(role="search")
              .form-group
                input#searchInput.form-control(type="text" placeholder="Search Current Tracks")

      ul.nav.navbar-nav.navbar-right
        li.leftButtons
          a(href="#")
            span.dropdownLabel Sort By:
            span.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") 
                | #{sortType}
                span.caret
              ul.dropdown-menu(role="menu")
                +each otherSortTypes
                  li
                    a(href="" class="#{this.className}") #{this.type}

        li.rightButtons
          a#shuffle(href="#")
            span.glyphicon.glyphicon-refresh(aria-hidden="true")
          a#log-out(href="#")
            span.glyphicon.glyphicon-log-out(aria-hidden="true")
 