@player-bg: rgba(92, 92, 92, 0.8);

.queue {
  display: inline-flex;

  .queueItem {
    padding: 0;
    width: 100px;
    height: 100px;
    flex-basis: inherit;
  }
}

.showQueue {
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;

  a {
    color: white;
    background-color: @player-bg;
    padding: 10px 20px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.scrollContainer {
  background-color: @player-bg;
  overflow-x: scroll;
  position: fixed;
  width: 100%;
}

.queueContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10000;
}
