.queue {
  display: inline-flex;
  // position: fixed;

  .queueItem {
    padding: 0;
    width: 100px;
    height: 100px;
    flex-basis: inherit;
  }
}

.showQueue {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: white;
  z-index: 10000;
}

.queueContainer {
  overflow-x: scroll;
  position: fixed;
  width: 100%
}