@orange: #ffae69;

.player {
  color: white;
  height: 50px;
  background-color: #333;
}

#currentTrackPlayer {
  width: 100%;

  .progress {
    height: 22px;
    margin-bottom: 0;
    background-color: @orange;
    border-radius: 0;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: inline;
  position: fixed;
  left: 0;
  margin: 5px;
}

.current-art {
  padding: 0;
}

.playerControlButton {
  cursor: pointer;
  cursor: hand;
}

.player-node {
  display: inline-block;
  width: 100%;

  &.artwork {
    width: 100px;
  }

  &.controls {
    // margin-left: 110px;
    position: absolute;
    height: 100%;
    // width: calc(~"100% - 110px");
    width: 100%;
    top: 0;
    left: 0;
  }
}

.player-title {
  font-size: 20px;
}

input[type='range'] {
  position: absolute;
  width: 102%;
  margin-left: -1%;
  opacity: 0;
  // width: 97%;
  // height: 50px;
}
